In [17]:
'''
Carregar o arquivo ".csv" de empresas disponibilizados pela plataforma de dados abertos do governo
federal (https://dados.gov.br/dados/conjuntos-dados/cadastro-nacional-da-pessoa-juridica---cnpj) em
uma tabela no sqlite através de um programa escrito em Python. Os comandos SQL devem ser escritos neste programa.

O arquivo a ser utilizado será o Empresas0:
'''

'\nCarregar o arquivo ".csv" de empresas disponibilizados pela plataforma de dados abertos do governo\nfederal (https://dados.gov.br/dados/conjuntos-dados/cadastro-nacional-da-pessoa-juridica---cnpj) em\numa tabela no sqlite através de um programa escrito em Python. Os comandos SQL devem ser escritos neste programa.\n\nO arquivo a ser utilizado será o Empresas0:\n'

In [32]:
import pandas as pd

arquivo = '/home/matheus/Empresas0/empresas.csv'
df = pd.read_csv(arquivo, sep=';', encoding='ISO-8859-1')

print(df.count())

41273594                              9999
OZINETE DELFINO CALDAS 41608224287    9999
2135                                  9999
50                                    9999
5000,00                               9999
01                                    9999
Unnamed: 6                               3
dtype: int64

In [36]:
import sqlite3 as conector

try:
  # abertura da conexão
    conexao = conector.connect('/home/matheus/Documentos/MeusProjetos/Desenvolvimento-rapido-em-python/Desenvolvimento-rapido-em-python/Desafio/Database.db')
# aquisição de um cursor
    cursor = conexao.cursor()

    comando_01 = '''
    CREATE TABLE Empresas
    (
    CNPJ INT(11) NOT NULL,
    razao_social VARCHAR(30) NOT NULL,
    natureza_juridica VARCHAR(12) NOT NULL,
    qualificacao_responsavel VARCHAR(30),
    capital_social INT(10),
    porte_empresa VARCHAR(30),
    Ente_federativo VARCHAR(30),
    PRIMARY KEY (CNPJ)
    );
    '''
# execução do comando: SELECT, INSERT, CREATE...
    cursor.execute(comando_01)
 
# Efetivação do comando
    conexao.commit()

except conector.DatabaseError as erro:
  print('Erro no banco de dados', erro)
finally:
  # fechamento das conexoes
  cursor.close()
  conexao.close()